---
title: Remember Aaron Swartz
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/tribute.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.css"/>

    <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
    <script src='/javascript/jquery.wookmark.js'></script>
    <script src='/javascript/jquery.imagesloaded.js'></script>
    <script src='/javascript/tribute.js'></script>

    {% include analytics.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://farm3.staticflickr.com/2552/3835494997_edc2e1dc12.jpg"/>
    <meta property="og:url" content="http://www.rememberaaronsw.com"/>
    <meta property="og:site_name" content="Celebrating Aaron Swartz"/>
    <meta property="og:admins" content="1800517"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <div id="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
        {% include links.html %}
        <div class='clearfix'></div>
      </header>

      <div id='main'>
        <ul id='memories'>
          {% for post in site.categories.statements %}
            <li>
              <article>
                <header><h2>{{ post.title }}</h2></header>
                <div>{{ post.content }}</div>
              </article>
            </li>
          {% endfor %}
          {% for post in site.categories.memories %}
            <li>
              <article class="{{ post.type }}">
                <header>
                  <h2><a href='{{ post.url }}'>{{ post.title }}</a></h2>
                  <i class="quotemarker icon-quote-left"></i>
                </header>
                {% if post.type == 'image' %}
                <div class="content"><a href="{{ post.url }}">{{ post.content }}</a></div>
                {% else %}
                <div class="content">{{ post.content }}</div>
                {% endif %}
                <footer>
                  <a href="{{ post.link || '#' }}">{{ post.author }}</a>
                  <span class='date'><a href='{{ post.url }}'>{{ post.date | date: "%d %b %Y" }}</a></span>
                </footer>
              </article>
            </li>
          {% endfor %}
        </ul>
      </div>
      <footer>
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
      </footer>
    </div>
  </body>
</html>
