---
title: Remember Aaron Swartz
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/tribute.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.css"/>

    <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>
    <script src='/javascript/jquery.wookmark.js'></script>
    <script src='/javascript/jquery.imagesloaded.js'></script>
    <script src='/javascript/tribute.js'></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37626640-1']);
      _gaq.push(['_setDomainName', 'rememberaaronsw.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://farm3.staticflickr.com/2552/3835494997_edc2e1dc12.jpg"/>
    <meta property="og:url" content="http://www.rememberaaronsw.com"/>
    <meta property="og:site_name" content="Celebrating Aaron Swartz"/>
    <meta property="og:admins" content="1800517"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <div id="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
        <ul>
          <li><a href='http://aaronsw.com'>aaronsw.com</a></li>
          <li><a href='http://rememberaaronsw.com/rss.xml'><i class="icon-rss"></i>rss</a></li>
          <li><a target='_blank' href='http://www.facebook.com/sharer.php?u=http://rememberaaronsw.com&t=Remember%20Aaron%20Swartz'><i class="icon-facebook"></i>facebook</a></li>
          <li><a target='_blank' href="https://twitter.com/share?text=Remember%20Aaron%20Swartz" class="twitter-share-button" data-lang="en"><i class="icon-twitter"></i>twitter</a></li>
          <li><a target='_blank' href='http://www.reddit.com'><i class="icon-share"></i>reddit</a></li>
          <li><a target='_blank' href='https://github.com/rememberaaronsw/rememberaaronsw'><i class="icon-github"></i>contribute</a></li>
        </ul>
        <div class='clearfix'></div>
      </header>

      <div id='main'>
        <a href="#memories">Memories <i class="icon-double-angle-down"></i></a>
        <ul id='statements'>
          {% for post in site.categories.statements %}
            <li>
              <article>
                <div>{{ post.content }}</div>
              </article>
            </li>
          {% endfor %}
        </ul>

        <ul id='memories'>
          {% for post in site.categories.memories %}
            <li>
              <article class="{{ post.type }}">
                <header>
                  <h2><a href='{{ post.url }}'>{{ post.title }}</a></h2>
                  <i class="quotemarker icon-quote-left"></i>
                </header>
                {% if post.type == 'image' %}
                <div class="content"><a href="{{ post.link || '#' }}">{{ post.content }}</a></div>
                {% else %}
                <div class="content">{{ post.content }}</div>
                {% endif %}
                <footer>
                  <a href="{{ post.link || '#' }}">{{ post.author }}</a>
                  <span class='date'><a href='{{ post.url }}'>{{ post.date | date: "%d %b %Y" }}</a></span>
                </footer>
              </article>
            </li>
          {% endfor %}
        </ul>
      </div>
      <footer>
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
      </footer>
    </div>
  </body>
</html>
