---
title: Remember Aaron Swartz
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/tribute.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.css"/>
    <link rel="alternate" type="application/rss+xml" href="rss.xml" title="Remember Aaron Swartz">
    <link rel="icon" type="image/png" href="/images/aaronsw-icon.png">

    <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>

    <script src='/javascript/jquery.wookmark.js'></script>
    <script src='/javascript/jquery.imagesloaded.js'></script>
    <script src='/javascript/base64.js'></script>
    <script src='/javascript/underscore-min.js'></script>
    <script src='/javascript/github.js'></script>
    <script src='/javascript/tribute.js'></script>

    {% include analytics.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://farm3.staticflickr.com/2552/3835494997_edc2e1dc12.jpg"/>
    <meta property="og:url" content="http://www.rememberaaronsw.com"/>
    <meta property="og:site_name" content="Celebrating Aaron Swartz"/>
    <meta property="og:admins" content="1800517"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div id="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
        {% include links.html %}
        <div class="share-buttons">
          <script type="text/javascript" src="http://www.reddit.com/static/button/button1.js"></script>
          <div class="fb-like" data-href="http://www.rememberaaronsw.com/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
          <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
        </div>
        <div class="license" style="width: 600px; margin-left: auto; margin-right: auto; text-align: left">
          <a rel="license" style="float: left; padding-right: 10px" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
          In memory of Aaron, this work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 License</a>.
          <a href="http://creativecommons.org/weblog/entry/36298">Learn more about Aaron's work with Creative Commons</a>.
        </div>
      </header>

      <div id='main' style="clear: both;">
        <div class='livestream'><iframe width="640" height="385" src="http://cdn.livestream.com/embed/democracynow?layout=4&color=0x000000&autoPlay=false&mute=false&iconColorOver=0xe7e7e7&iconColor=0xcccccc&allowchat=true&height=385&width=640" style="border:0;outline:0" frameborder="0" scrolling="no"></iframe><div style="font-size:11px;padding-top:10px;text-align:center;width:640px">Watch <a href=http://www.livestream.com/?utm_source=lsplayer&amp;utm_medium=embed&amp;utm_campaign=footerlinks title=live streaming video>live streaming video</a> from <a href=http://www.livestream.com/democracynow?utm_source=lsplayer&amp;utm_medium=embed&amp;utm_campaign=footerlinks title=Watch democracynow at livestream.com>democracynow</a> at livestream.com</div></div>
        <ul id="memory_links">
          {% for post in paginator.posts %}
            <li><a rel="post" href="{{ post.url }}"></a></li>
          {% endfor %}
          {% if paginator.next_page %}
            <li><a rel="next" href="/page{{ paginator.next_page }}"></a></li>
          {% endif %}
        </ul>
        <ul class='column memories'>
          {% for post in site.categories.statements %}
            <li>
              <article class="statement">
                <header><h2>{{ post.title }}</h2></header>
                <div>{{ post.content }}</div>
                <footer>
                  <span class='date'><a href='{{ post.url }}'>{{ post.date | date: "%d %b %Y" }}</a></span>
                </footer>
              </article>
            </li>
          {% endfor %}
        </ul>
        <ul class='column memories'></ul>
        <ul class='column memories'></ul>
      </div>
      <footer>
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
      </footer>
    </div>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </body>
</html>
