---
title: Remember Aaron Swartz
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/tribute.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.css"/>
    <link rel="alternate" type="application/rss+xml" href="rss.xml" title="Remember Aaron Swartz">
    <link rel="icon" type="image/png" href="/images/aaronsw-icon.png">

    <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js'></script>

    <script src='/javascript/jquery.wookmark.js'></script>
    <script src='/javascript/jquery.imagesloaded.js'></script>
    <script src='/javascript/base64.js'></script>
    <script src='/javascript/underscore-min.js'></script>
    <script src='/javascript/github.js'></script>
    <script src='/javascript/tribute.js'></script>

    {% include analytics.html %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <div id="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
        {% include links.html %}
        <div class='clearfix'></div>
      </header>
      <a href="/"><i class="icon-double-angle-left"></i> Home</a>

      <div class='video'>
        <h2>New York Memorial Service</h2>
        <h3>Cooper Union’s Great Hall</h3>
        <iframe src="http://cdn.livestream.com/embed/democracynow?layout=1&autoPlay=false&width=512&height=480playlist=0545b862-1026-4b88-86ff-409745806958" width="640" height="700" style="border:0;outline:0" frameborder=0 scrolling=no></iframe>
        <p>Provided by <a href='http://www.democracynow.org/'>DemocracyNow!</a></p>
      </div>

      <footer>
        <div class='back-link'><a href='/'>Back</a></div>
        <div class="share-buttons">
          <div class="fb-like" data-href="{{ post.url }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
          <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
        </div>
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
      </footer>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </body>
</html>
