<ul>
  <li><a href='http://aaronsw.com'>aaronsw.com</a></li>
  <li><a href='http://rememberaaronsw.com/rss.xml'><i class="icon-rss"></i>rss</a></li>
  <li><a target='_blank' href='http://www.facebook.com/sharer.php?u=http://rememberaaronsw.com&t=Remember%20Aaron%20Swartz'><i class="icon-facebook"></i>facebook</a></li>
  <li><a target='_blank' href="https://twitter.com/share?text=Remember%20Aaron%20Swartz" class="twitter-share-button" data-lang="en"><i class="icon-twitter"></i>twitter</a></li>
  <li><a target='_blank' href='http://www.reddit.com/submit?url=http://rememberaaronsw.com'><i class="icon-reddit"></i>reddit</a></li>
  <li><a target='_blank' href='https://github.com/rememberaaronsw/rememberaaronsw'><i class="icon-github"></i>contribute code</a></li>
  <li><a href='mailto:rememberaaronsw@gmail.com'><i class="icon-envelope"></i>contribute memory</a></li>
  <li><a href="/about"><i class="icon-question-sign"></i>about this site</a></li>
</ul>
