body {
  background-color: #ffd;
  font-weight: 300;
  font-size: 14px;
  font-family: Georgia, serif;
  color: black;
}

a {
  color: #666;
  background-color: #ffc;
  text-decoration: none;
  border-bottom: dotted #ccc thin;
}

img  {
  max-width: 940px;
}

article {
  padding-top: 20px;
  position: relative;
}


article p {
  line-height: 28px;
  margin-top: 14px;
}

article em {
  font-style: italic;
}

article blockquote {
  font-style: italic;
  margin-left: 10px;
}

article ul {
  margin: 12px 0 0 20px;
  list-style-type: circle;
  line-height: 24px;
}

article h3 {
  margin-top: 18px;
  border-bottom: 1px solid #ccc;
}

article.image header h2, article.quote header h2 {
  display: none;
}

article.post p {
  font-size: 12px;
  line-height: 24px;
}

article.page {
  font-size: 18px;
  line-height: 36px;
}

article.page ul {
  line-height: 36px;
}

article i.quotemarker {
  display: none;
}

article.quote i.quotemarker {
  display: block;
  position: absolute;
  z-index: -1;
  color: #FFE180;
  top: 20px;
  left: 0;
  font-size: 70px;
}

article.quote .content {
  padding: 10px 0;
}

#wrapper {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

#wrapper > header {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 36px;
}

#wrapper > header h1 {
  font-size: 40px;
  font-weight: 700;
}

#wrapper > header ul {
  margin: 10px auto 0;
  list-style: none;
}

#wrapper > header ul li {
  float: left;
  margin-left: 10px;
}

#wrapper > header ul li a {
  font-size: 18px;
  line-height: 36px;
}

#wrapper > footer {
  font-size: 0.8571em;
  text-align: center;
  padding: 20px 0;
}

#statements article {
  border-top: 1px solid #ccc;
  margin-top: 18px;
  padding-top: 0;
}

#statements article h2 {
  font-size: 30px;
}

#statements article p {
}

#memories {
  position: relative;
  width: 100%;
}

#memories header h2 {
  font-size: 1.1667em;
  line-height: 1.286em;
  margin: 1.929em 0 0.643em 0;
  font-weight:normal;
}

#wrapper header h2 a {
  color: black;
  text-decoration: none;
}

#memories header .author {
  font-size: 0.8571em;
  font-weight: 700;
}

#memories img {
  width: 300px;
}

#memories li {
  width: 312px;
  height: auto;
  box-sizing: border-box;
  padding-right: 20px;
}

#memories footer .date {
  font-size: 0.8571em;
}

footer .back-link {
  margin-bottom: 1em;
}

.clearfix { clear: both; }

@media (max-width: 939px) {
  #wrapper {
    width: 660px;
  }
  img  {
    max-width: 660px;
  }
}

@media (max-width: 659px) {
  #wrapper {
    width: 320px;
  }
  img  {
    max-width: 320px;
  }

  #wrapper > header ul {
    margin: 10px 0;
    list-style: none;
    width: 100%;
  }

  #wrapper > header ul li {
    float: none;
    margin: 5px 0;
  }
}

i.icon-reddit {
  background: transparent url('/images/reddit-icon_normal.png') top left no-repeat;
  background-size: 20px 20px;
  height: 16px;
  display: inline-block;
}
