body {
  background-color: #ffd;
  font-weight: 300;
  font-size: 14px;
  font-family: Georgia, serif;
  color: black;
}

a {
  color: #666;
  background-color: #ffc;
  text-decoration: none;
  border-bottom: dotted #ccc thin;
}

img  {
  max-width: 940px;
}

article {
  padding-top: 20px;
  position: relative;
}


article p {
  line-height: 28px;
  margin-top: 14px;
}

article em {
  font-style: italic;
}

article blockquote {
  font-style: italic;
  margin-left: 10px;
}

article ul {
  margin: 12px 0 0 20px;
  list-style-type: circle;
  line-height: 24px;
}

article h3 {
  margin-top: 18px;
  border-bottom: 1px solid #ccc;
}

article.image header h2, article.quote header h2 {
  display: none;
}

article.post p {
  font-size: 12px;
  line-height: 24px;
}

article.page {
  font-size: 18px;
  line-height: 36px;
}

article.page ul {
  line-height: 36px;
}

article i.quotemarker {
  display: none;
}

article.quote i.quotemarker {
  display: block;
  position: absolute;
  z-index: -1;
  color: #FFE180;
  top: 20px;
  left: 0;
  font-size: 70px;
}

article.quote .content {
  padding: 10px 0;
}

#wrapper {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

#wrapper > header {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

#wrapper > header h1 {
  font-size: 40px;
  font-weight: 700;
}

#wrapper > header ul {
  margin: 10px auto 0;
  list-style: none;
}

#wrapper > header ul li {
  float: left;
  margin-left: 10px;
}

#wrapper > header ul li a {
  font-size: 18px;
  line-height: 36px;
}

#wrapper > footer {
  clear: both;
  font-size: 0.8571em;
  text-align: center;
  padding: 20px 0;
}

#statements article {
  border-top: 1px solid #ccc;
  margin-top: 18px;
  padding-top: 0;
}

#statements article h2 {
  font-size: 30px;
}

#statements article p {
}

ul.memories {
  position: relative;
  float: left;
  width: 290px;
  margin-right: 20px;
}

ul.memories header h2 {
  font-size: 1.1667em;
  line-height: 1.286em;
  margin: 1.929em 0 0.643em 0;
  font-weight:normal;
}

#wrapper header h2 a {
  color: black;
  text-decoration: none;
}

ul.memories header .author {
  font-size: 0.8571em;
  font-weight: 700;
}

ul.memories img {
  width: 300px;
}

ul.memories li {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

ul.memories footer .date {
  font-size: 0.8571em;
}

header .share-buttons {
  clear: both;
  padding: 10px 0;
}

header .share-buttons .twitter, header .share-buttons  .fb-like {
  font-size: 1px;
  display: inline-block;
}

div .fb_reset {
  display: inline;
} 

footer .back-link {
  margin-bottom: 1em;
}

.clearfix { clear: both; }

@media (max-width: 939px) {
  #wrapper {
    width: 660px;
  }
  img  {
    max-width: 660px;
  }
}

@media (max-width: 659px) {
  #wrapper {
    width: 320px;
  }
  img  {
    max-width: 320px;
  }

  #wrapper > header ul {
    margin: 10px 0;
    list-style: none;
    width: 100%;
  }

  #wrapper > header ul li {
    float: none;
    margin: 5px 0;
  }
}

i.icon-reddit {
  /*background: transparent url('/images/reddit-icon_normal.png') top left no-repeat;*/
  background: transparent url('/images/redditAvatarAaronSw_01.png') top left no-repeat;
  background-size: 20px 20px;
  height: 16px;
  display: inline-block;
}

a[rel=next], a[rel=post] { display: none; }

/*--Style "Contribute Memories" Submit Form --*/
	#post-wrap {
	  width: 100%;
	  background: #939180;
	  -webkit-box-shadow: 0 -10px 0 #A6A491;
		-moz-box-shadow: 0 -10px 0 #A6A491;
		box-shadow: 0 -10px 0 #A6A491;
	}
    #post-wrap .new-post {
		display:block;
		position: relative;
		max-width: 550px;
    	background: #939180;
		color: #fff;
    	margin: 30px auto;
    	padding: 30px;
    	}
	#post-wrap .new-post h3 {
	  font-size: 36px;
	  text-align: center;
	  margin-bottom: 30px;
	  text-shadow: 0 -1px 0 #A6A491;
	}
	#post-wrap .new-post label {
	  color: #F2F5E5;
	  font: 13px "helvetica" sans-serif;
	  line-height: 16px;
	  padding-left: 3px;
	}
	#post-wrap .new-post input:not(.button), textarea {
	  max-width: 98%;
	  min-width: 98%;
	  display: block;
	  margin-bottom: 15px;
	  font-size: 14px;
	  font-weight: lighter;
	  padding: 5px;
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  border-radius: 3px;
	  border: solid #666 1px;
	}
	
	#post-wrap .new-post textarea {min-height: 200px;}
	
	#post-wrap .new-post .button#submit {
	  color: #F2F5E5;
	  font-size: 16px;
	  padding: 8px 0;
	  margin-top: 40px;
	  margin-bottom: 30px;
	  width: 100%;
	  text-decoration: none;
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  border-radius: 3px;
	  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
	  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
	  box-shadow: 0px 1px 0px rgba(255, 255, 255, .5);
	  text-shadow: 1px 1px 0px #666666;
	  border: solid #666 1px;
	  background: -webkit-gradient(linear, 0 0, 0 100%, from(#adba77), to(#6f9438));
	  background: -moz-linear-gradient(top, #adba77, #6f9438);
	  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#adba77, endColorStr=#6f9438);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#adba77, endColorStr=#6f9438);
	  display: block; /* IE is so silly */
	  cursor: pointer;
	}
    #post-wrap .new-post .button#submit:hover {
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#628036), to(#919e59));
      background: -moz-linear-gradient(top, #628036, #919e59)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#adba77, endColorstr=#6f9438);
    
    }
    #post-wrap .new-post #daisy {
      position:absolute;
      left: 85%;
      margin-top: -22px;
    }
