body {
  background-color: #ffd;
  /* font-family: Lato, sans-serif; */
  /* color: #333; */
  font-weight: 300;
  font-size: 18px;
  font-family: Georgia, serif;
  color: black;
}

article p {
  line-height: 36px;
  margin-top: 18px;
}

article em {
  font-style: italic;
}

#wrapper {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

#wrapper > header {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 36px;
}

#wrapper > header h1 { 
  font-size: 40px; 
  font-weight: 700;
}

#wrapper > header ul {
  margin: 10px auto 0;
  list-style: none;
  width: 555px;
}

#wrapper > header ul li {
  float: left;
  margin-left: 10px;
}

#wrapper > header ul li a {
  color: #666;
  background-color: #ffc;
  text-decoration: none;
  border-bottom: dotted #ccc thin;
}

#wrapper > footer {
  font-size: 0.8571em;
  text-align: center;
  padding: 20px 0;
}

#statements article {
  border-bottom: 1px solid #ccc;
  padding-bottom: 18px;
}

#statements article h2 {
  font-size: 30px;
}

#statements article p {
/*  font-size: 14px;
  line-height: 28px;
*/}

#statements article hr {
  border-top: 1px solid #888;
  border-bottom: 0;
}

#memories {
  position: relative;
  width: 100%;
}

#memories header h2 {
  font-size: 1.1667em;
  line-height: 1.286em;
  margin: 1.929em 0 0.643em 0;
  font-weight:normal;
}

#wrapper header h2 a {
  color: black;
  text-decoration: none;
}

#memories header .author {
  font-size: 0.8571em;
  font-weight: 700;
}

#memories img {
  width: 300px;
}

#memories li {
  width: 312px;
  height: auto;
  box-sizing: border-box;
  padding-right: 10px;
}

#memories p {
  margin: 5px 0;
}

#memories footer .date {
  font-size: 0.8571em;
}

.clearfix { clear: both; }

@media (max-width: 939px) {
  #wrapper {
    width: 660px;
  }
}

@media (max-width: 659px) {
  #wrapper {
    width: 320px;
  }

  #wrapper > header ul {
    margin: 10px 0;
    list-style: none;
    width: 100%;
  }

  #wrapper > header ul li {
    float: none;
    margin: 5px 0;
  }
}
