---
main_title: Remember Aaron Swartz
---
<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.main_title }}</title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/tribute.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37626640-1']);
      _gaq.push(['_setDomainName', 'rememberaaronsw.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://farm3.staticflickr.com/2552/3835494997_edc2e1dc12.jpg"/>
    <meta property="og:url" content="http://www.rememberaaronsw.com"/>
    <meta property="og:site_name" content="{{ page.main_title }}"/>
    <meta property="og:admins" content="1800517"/>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="wrapper">
      <header>
        <h1>{{ page.main_title }}</h1>
        {% include links.html %}
        <div class='clearfix'></div>
      </header>

      {% assign post = page %}

      <div id='main'>
        <a href="/"><i class="icon-double-angle-left"></i> Home</a>
        <article class="{{ post.type }}">
          <header>
            <h2><a href='{{ post.url }}'>{{ post.title }}</a></h2>
            <i class="quotemarker icon-quote-left"></i>
          </header>
          {% if post.type == 'image' %}
          <div class="content"><a href="{{ post.link || '#' }}">{{ content }}</a></div>
          {% else %}
          <div class="content">{{ content }}</div>
          {% endif %}
          <footer>
            <a href="{{ post.link || post.url || '#' }}">{{ post.author }}</a>
            <div class='date'><a href='{{ post.url }}'>{{ post.date | date: "%d %b %Y" }}</a></div>
          </footer>
        </article>
      </div>
      <footer>
        <div class='back-link'><a href='/'>Back</a></div>
        <div class="share-buttons">
          <div class="fb-like" data-href="{{ post.url }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
          <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
        </div>
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
      </footer>
    </div>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </body>
</html>
